@import url();

.article-header {
  background-color: #4994f8;
  color: white;
  border: 3px solid transparent;
  text-align: left;
  padding-left: 50px;
  font-size: 25px;
}

.section-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

.add-clinic-btn {
  float: right;
  margin-bottom: 5px;
}
